
- const thItem = ["Rank", "Song", "Play","Heart", "Listen"];
#fullchart 
    .chart-wrap 
        h1 🍋 TOP 10 🍋 
        .full-chart-div
            ul.chart-header 
                each category in thItem 
                        li(class=`${category}`)=category
            each song, index in songsTop10 
                ul(data-song-id=song._id music=song.music).each-song
                    li.Rank
                        span.rank= index+1
                    li.Song
                        img(src=`${song.albumCover}`).coverImg
                        div.songInfo
                            span.title= song.title
                            span.singer= song.singer
                    li.Play
                        span.playcnt= song.meta.play
                    li.Heart
                        span.heartcnt= song.meta.heart
                    li.Listen
                        i.fa.fa-play(style="cursor:pointer")


