
#newestAlbum.newestAlbum 
    h1 💿 최신앨범
    div.new-album
        each song, index in songs
            ul(data-song-id=song._id music=song.music).each-song
                li
                    img(src=`${song.albumCover}`).coverImg
                    .song-detail                            
                        span.title= song.title
                        span.singer= song.singer